default:
    suites:
        default:
            paths:
                - tests/Acceptance/Foo
            contexts:
                - App\Tests\Shared\Behat\Context\ApiContext
                - App\Tests\Shared\Behat\Context\FixturesContext
                - App\Tests\Shared\Behat\Context\MessengerContext
                - App\Tests\Shared\Behat\Context\CacheContext
                - App\Tests\Shared\Behat\Context\SearchContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                environment: test
